nav{

    border: 5px solid black;
    width: 100%;
    padding: 10px;
   position: absolute;
   margin-top: 0%;
   text-align: center;
   
   background-color: antiquewhite;
   }
   a{
       text-decoration: none;
       color: black;
       margin-left: 100px;
   }
   
   
   a:hover{
       font-weight: bold;
       opacity: .5;
   
   }
   
   #p1{
       width: 250px;
       height: 300px;
       position:absolute ;
       right: 10px;
       top:60px;
       border: 1px dashed black;
   
   }
   
   body{
       background-color: darksalmon;
   }
   
   .pic{
       height: 300px;
       width: 300px;
       position: relative;
       margin-left: 80px;
       border: 1px dashed black;
   }
   


   
   h2{
       text-align: center;
       border: 1px dashed black;
     
   }
 
   
